.maskBgBig {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.bigContentWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.bigContent {
  position: relative;
  width: 650px;
  background: #fff;
  border-radius: 20px;
  padding: 36px 28px 38px 28px;
}

.bigTitle {
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  font-weight: 600;
}

.selectedBox {
  display: flex;
  margin-top: 30px;
}

.selectedItem {
  height: 50px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px !important;
  font-size: 14px !important;
}
.selectedItemCenter {
  margin: 0 8px;
}

.accountInfo {
  width: 100%;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.accountInfoLineWrap {
  width: 100%;
  padding: 0 18px;
}
.accountInfoLine {
  width: 100%;
  height: 1px;
  opacity: 0.04;
  background: #000;
}
.accountInfoItem {
  display: flex;
  padding: 0 18px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 44px;
  font-size: 14px;
}

.transitionDetail {
  margin-top: 8px;
}

.transitionItem {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 0 18px;
  font-size: 14px;
}

.liquidity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}
.attention {
  font-size: 14px;
  padding: 16px 18px;
}

.attentionContent {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.attentionContent p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-left: 8px;
}

.acceptBtn {
  width: 100%;
  height: 60px;
  border-radius: 10px !important;
  margin-top: 24px;
  background: #000000 !important;
  font-weight: 700 !important;
}

.acceptBtn:hover {
  opacity: 0.8;
}

.acceptBtn:focus,
.acceptBtn:active {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5) !important;
  outline: #000 !important;
  border-color: #000 !important;
}

.acceptBtn.disable:hover,
.acceptBtn.disable:active,
.acceptBtn.disable:focus,
.acceptBtn.disable {
  /* background: #000000; */
  opacity: 0.5;
  border: 1px solid #000000;
  outline: none;
  cursor: not-allowed;
  box-shadow: none;
}

.accordionItem {
  border-radius: 10px !important;
  margin-top: 8px;
}

.strongBorder {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.sideTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
}

/* Vault */
.vaultContentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  width: 100%;
  font-size: 20px;
}

.vaultContent {
  flex: 1;
}

.vaultAccount {
  width: 100%;
  margin-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.enterInput {
  padding: 0;
}

.vaultContentWrap .selectedItem,
.vaultContentWrap .accountInfoItem,
.vaultContentWrap .transitionItem,
.vaultContentWrap .attention,
.vaultContentWrap .attentionContent p,
.vaultContentWrap .sideTitle {
  font-size: 20px !important;
}
